  
  .navbar{
      padding: 20px;
      background-color: aliceblue;
      height: 80px;
  }

  .nav-link{
      margin-right: 15px;
      color: #2fafc9;
  }

  .footer{
      height: 20px;
  }

  div{
      word-wrap: break-word;
  }
  
  #sign-in-button {
      color: white;
      background-color: #2fafc9;
      border: none;
      font-weight: bold;
      margin-right: 15px;
      margin-left: 47%;
  }
  
  #sign-in-button:hover{
    background-color: aliceblue;
    color:#2fafc9;
  }
  
  #sign-in-header {
    text-align: center;
    font-weight: bold;
    color: #e6661c;
  }
  
  .title-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-weight: bold;
    color: #2fafc9;
    font-size: 50px;
    text-align: center;
    
  }

  .main-page{
    height: 900px;
    background-image: url("../img/dunder-mifflin.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .descriptive-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    margin-top: 60px;
    text-align: center;
    font-size: 18px;
    color:#e6661c;
  }

  .user-image{
      margin-left: 30%;
      margin-top: 40px;
      border-radius: 10px;
  }
  
  .background-image {
    margin-left: 200px;
  }
  
  footer {
    text-align: center; 
    border-top: 1px solid #2fafc9;
    padding: 10px;
    margin-top: 20px;
  }

  .michael-image {
    margin: auto;
    margin-left: 15%;
    border-radius: 10px;
  }

  #michael-scarn{
      margin-left: 36%;
  }

  .book-image{
      margin-top: 40px;
      margin-bottom: 40px;
      width: 200px;
      margin-left: 25%;
      border-radius: 10px;
  }
  
  .image-desc {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    text-align: center;
    color: #e6661c;
    text-decoration: none;
    font-size: 25px;
  }
  
